<div class="bg-primary">
  <div class="container mx-auto flex py-2 px-4 items-center justify-between">
    <a href="#" class="text-primary-content font-bold flex flex-row">Aviation
      <!-- <img width="18" height="18" class="ml-2" src="https://img.icons8.com/ios-filled/50/airplane-take-off.png" alt="airplane-take-off"/> -->
      <img width="18" height="18" class="ml-2" src="https://img.icons8.com/ios-filled/50/ffffff/airplane-take-off.png" alt="airplane-take-off"/>
  </a>
    <div class="flex items-center	">

      <div class="form-control px-2">
        <label class="label cursor-pointer">
          <span class="label-text mx-2 text-accent-content">Theme</span>
          <input type="checkbox" class="toggle" (click)="toggleTheme()"/>
        </label>
      </div>
      <a href="" class="avatar online placeholder">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-10">
          <span>J</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div >
  <router-outlet></router-outlet>
</div>

<div class="footer footer-center p-4 bg-base-300 text-neutral-content">
  <div>
    <p class="text-base-content">Copyright © 2023 - All right reserved by Joel Industries Ltd</p>
  </div>
  <audio id="bgMusic" loop>
    <source src="/assets/background.mp3" type="audio/mpeg">
  </audio>
</div>  
