<div class="bg-fixed bg-center bg-cover" style="background-image: url(./../../assets/homepage.gif)">
    <div class="flex flex-wrap items-center justify-center h-[100vh]  bg-black/50">
      <div class="text-right primary-content">
        <h1 class="text-5xl pb-8 text-primary-content">Welcome to Flight Logging System</h1>
        <h5 class="text-lg	text-secondary-content">- Powered By Joel</h5>
      </div>
  
    </div>
  </div>
  <div class="flex flex-wrap items-center justify-center h-[100vh] base-300">
    <div class="text-right">
      <h1 class="text-5xl pb-8">We Provide Best in class Logging functionality</h1>
    </div>
  
  </div>
  
  <div class="bg-fixed bg-center bg-cover" style="background-image: url(./../../assets/homepage.png)">
    <h1 class="text-4xl text-center	text-primary-content pt-8 backdrop-blur-sm bg-black/50">Our Services</h1>
    <div class="flex flex-wrap items-center justify-center h-screen  backdrop-blur-sm bg-black/50">
  
      <a href="/FlightForm" class="card w-96 bg-base-100 shadow-xl mx-4">
        <figure class="px-10 pt-8">
          <img src="https://img.icons8.com/3d-fluency/94/fighter-jet.png" alt="Wharehouse" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Flight Form</h2>
        </div>
      </a>
  
      <a href="/FlightLogForm" class="card w-96 bg-base-100 shadow-xl mx-4">
        <figure class="px-10 pt-8">
          <img src="https://img.icons8.com/3d-fluency/94/boarding-pass.png" alt="Wharehouse" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Flight Log Form</h2>
        </div>
      </a>
  
      <a href="/FlightLogDetails" class="card w-96 bg-base-100 shadow-xl mx-4">
        <figure class="px-10 pt-8">
          <img src="https://img.icons8.com/3d-fluency/94/search.png" alt="Wharehouse" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Flight Log Details</h2>
        </div>
      </a>
      <a href="/FlightDetails" class="card w-96 bg-base-100 shadow-xl mx-4">
        <figure class="px-10 pt-8">
          <img src="https://img.icons8.com/3d-fluency/94/prop-plane.png" alt="prop-plane" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Flight Details</h2>
        </div>
      </a>
    </div>
  
  </div>